<div class="dashboard">

  <div class="mb-4">
    <div class="jumbotron">
      <h1 class="display-4">Dashboard :: Dinesh Soap</h1>
      <hr class="my-4">
      <h3>Welcome!!</h3>
      <p>Get started by using the navigation on your left. All the changes made here will be reflected on the website.
      </p>

    </div>

  </div>
</div>